.App {
  text-align: center;
  background-color: blue;
}

body {
  background-color: blue;
  color: white;
}

a {
  color: white;
}

.desktop-nav {
  display: none;
}

h1 {
  margin-left: 35px;
  margin-top: 35px;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .desktop-nav {
      display: block;
  }
  .mobile-nav {
      display: none;
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
  }
}
