.creation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: rgb(49, 146, 179);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.receipt {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}

.receipt-line {
    margin-top: -10px;
    margin-bottom: -10px;
}

.receipt-list {
    display: flex;
    flex-direction: column;
}

.bun-final {
    margin-bottom: -60px;
}

.patty-one-final {
    margin-bottom: -80px;
}

.patty-two-final {
    margin-bottom: -75px;
}

.bottom-bun {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button-styling {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-and-label {
    display: flex;
    flex-direction: row;
}

.final-area {
    display: flex;
    flex-direction: column;
}

.final-img {
    height: 100px;
}