.creation-full-img {
    height: 125px;
}


.bun-creation-full {
    margin-bottom: -65px;
}

.patty-one-creation-full {
    margin-bottom: -100px;
}

.patty-two-creation-full {
    margin-bottom: -90px;
}

.bottom-bun-creation-full {
    margin-bottom: -20px;
}

.creation-area {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}