.Nav-Style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 123, 151);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -35px;
    margin-top: 10px;
}

li {
    display: inline-block;
    padding: 5px;
}
